/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.w-20 {
    width: 20%;
}
.w-60 {
    width: 60%;
}
.w-50 {
    width: 50%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}




/* Header */

header {
    background-color: #255ee9;
    color: white;
}

/* topbar */
.topbar {
    height: 70px;
    line-height: 70px;
}

#logo {
    vertical-align: middle;
}

header div nav {
    text-align: center;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
}

header ul li a {
    text-decoration: none;
    color: white;
}

header ul li a:hover {
    text-decoration: underline;
}

.btn {
    text-decoration: none;
}

.btn.btn-light {
    background-color: white;
    color: #23272a;
}

.btn.btn-dark {
    background-color: #23272a;
    color: white;
}

.btn.btn-tiny {
    padding: 10px 15px;
    border-radius: 25px;
}

.btn.btn-big {
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 1.1em;
}

.btn:hover {
    color: #255ee9;
}




/* jumbotron */

.jumbotron {
    height: 550px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.jumbotron .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.jumbotron h1 {
    font-size: 60px;
    margin-bottom: 35px;
    font-weight: 700;
}

.jumbotron p {
    line-height: 1.5em;
    font-size: 19px;
    margin-bottom: 30px;
    font-weight: 600;
}