/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    clear: both;
    content: '';
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.w-20 {
    width: 20%;
}
.w-60 {
    width: 60%;
}
.w-50 {
    width: 50%;
}

.text-right {
    text-align: right;
}




/* Header */

header {
    background-color: #255ee9;
    color: white;
}

/* topbar */
.topbar {
    height: 70px;
    line-height: 70px;
}

#logo {
    vertical-align: middle;
}

header div nav {
    text-align: center;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
}

header ul li a {
    text-decoration: none;
    color: white;
}

header ul li a:hover {
    text-decoration: underline;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 25px;
    text-decoration: none;
}

.btn:hover {
    color: #255ee9;
}